/* Larger than 575px */
@media (min-width: 575px) {
  /* Reused Style */
  .container {
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
  }

  /* Header */
  .header .container {
    max-width: unset;
  }
}

/* Larger than 768px */
@media (min-width: 768px) {
  /* Custom CSS */
  :root {
    /* Background Color */
    --bg-blue-jeans: hsla(202, 100%, 50%, 1);

    /* Text Color */
    --text-white: hsla(0, 0%, 100%, 1);

    /* Border Color */
    --border-blue-jeans: hsla(202, 100%, 50%, 1);

    /* Font Size */
    --fontSize-1: 5.5rem;
    --fontSize-2: 4rem;

    /* Spacing */
    --section-spacing: 150px;

    /* Shadow */
    --shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));
  }

  /* Reused Style */
  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 500px;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-secondary {
    color: var(--text-white);
    height: 52px;
    border: 2px solid var(--border-blue-jeans);
    padding-inline: 40px;
  }

  .btn-secondary:is(:hover, :focus-visible) {
    background-color: var(--bg-blue-jeans);
  }

  /* Header */
  .header-action {
    display: grid;
    margin-inline: auto 30px;
  }

  /* Hero */
  .hero {
    padding-block: 180px;
  }

  .hero-content {
    max-width: 560px;
  }

  .hero .input-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .hero .input-wrapper .btn {
    margin-block-start: 0;
    min-width: max-content;
  }

  .hero-banner {
    position: relative;
    max-width: 540px;
    margin-inline: auto;
  }

  .hero .shape {
    display: block;
    position: absolute;
    filter: var(--shadow-2);
  }

  .hero .shape-1 {
    width: 13%;
    top: 350px;
    left: 80px;
  }

  .hero .shape-2 {
    width: 16%;
    top: 440px;
    left: -20px;
  }

  .hero .shape-3 {
    width: 20%;
    bottom: -20px;
    left: 80px;
  }
}
