/* Larger than 575px */
@media (min-width: 575px) {
  /* Reused Style */
  .container {
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
  }

  /* Header */
  .header .container {
    max-width: unset;
  }
}

/* Larger than 768px */
@media (min-width: 768px) {
  /* Custom CSS */
  :root {
    /* Background Color */
    --bg-blue-jeans: hsla(202, 100%, 50%, 1);

    /* Text Color */
    --text-white: hsla(0, 0%, 100%, 1);

    /* Border Color */
    --border-blue-jeans: hsla(202, 100%, 50%, 1);

    /* Font Size */
    --fontSize-1: 5.5rem;
    --fontSize-2: 4rem;

    /* Spacing */
    --section-spacing: 150px;

    /* Shadow */
    --shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));
  }

  /* Reused Style */
  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 500px;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-secondary {
    color: var(--text-white);
    height: 52px;
    border: 2px solid var(--border-blue-jeans);
    padding-inline: 40px;
  }

  .btn-secondary:is(:hover, :focus-visible) {
    background-color: var(--bg-blue-jeans);
  }

  /* Header */
  .header-action {
    display: grid;
    margin-inline: auto 30px;
  }

  /* Hero */
  .hero {
    padding-block: 180px;
  }

  .hero-content {
    max-width: 560px;
  }

  .hero .input-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .hero .input-wrapper .btn {
    margin-block-start: 0;
    min-width: max-content;
  }

  .hero-banner {
    position: relative;
    max-width: 540px;
    margin-inline: auto;
  }

  .hero .shape {
    display: block;
    position: absolute;
    filter: var(--shadow-2);
  }

  .hero .shape-1 {
    width: 13%;
    top: 350px;
    left: 80px;
  }

  .hero .shape-2 {
    width: 16%;
    top: 440px;
    left: -20px;
  }

  .hero .shape-3 {
    width: 20%;
    bottom: -20px;
    left: 80px;
  }

  .footer-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Larger than 992px */
@media (min-width: 992px) {
  /* Custom CSS */
  :root {
    /* Text Color */
    --text-white-alpha-60: hsla(0, 0%, 100%, 0.6);

    /* Transition */
    --transition-1: 250ms ease;
  }

  /* Reused Style */
  .container {
    max-width: 960px;
    padding-inline: 40px;
  }

  body.nav-active {
    overflow: auto;
  }

  /* Header */
  .nav-toggle-btn,
  .overlay {
    display: none;
  }

  .header .logo .img {
    width: max-content;
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-start: 80px;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navbar-item:not(:last-child) {
    margin-block-end: 0;
  }

  .navbar-link {
    color: var(--text-white);
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--text-white-alpha-60);
  }

  .header-action {
    margin-inline-end: 0;
  }

  /* Hero */
  .hero .container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  /* Process */
  .process-banner {
    display: block;
    max-width: 540px;
    margin-inline: auto;
  }

  .process .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 60px;
  }

  .process-item {
    text-align: left;
  }

  .process .item-icon {
    margin-inline: 0;
  }

  .process .grid-list {
    gap: 30px 40px;
  }

  /* Work */
  .work .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Footer */
  .footer-top {
    grid-template-columns: 0.5fr 1fr;
    margin-block-end: 40px;
  }

  .footer-link {
    margin-block: 10px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom-list {
    margin-block-start: 0;
    gap: 50px;
  }
}

/* Larger than 1200px */
@media (min-width: 1200px) {
  /* Custom CSS */
  :root {
    /* Font Size */
    --fontSize-1: 7rem;
    --fontSize-3: 2.8rem;
  }

  /* Reused Style */
  .container {
    max-width: 1140px;
  }

  .section-text {
    max-width: 750px;
  }
}

/* Larger than 1400px */
@media (min-width: 1400px) {
  /* Custom CSS */
  :root {
    /* Font Size */
    --fontSize-1: 8rem;
  }

  /* Reused Style */
  .container {
    max-width: 1350px;
  }

  .section-text {
    margin-block-end: 60px;
  }

  /* Hero */
  .hero-text {
    font-size: 1.8rem;
    margin-block: 40px;
  }

  /* Process */
  .process .wrapper {
    grid-template-columns: 0.7fr 1fr;
    gap: 130px;
  }

  .process-item .item-icon {
    width: 80px;
  }

  .process-item .item-title {
    margin-block: 25px 15px;
  }

  .process .grid-list {
    row-gap: 50px;
  }
}
